@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

#root {
    font-family: "Fira Code";
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    margin-right: 2rem;
}

.sidebar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    margin-right: 1rem;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.btn {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.content {
    max-width: 800px;
    text-align: center;
    animation: text 1s;
}

@keyframes text {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

